---
tokens: {
title: Yada Tada,
slug: Tada
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/pico.min.css">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>{title}</title>
    </head>
    <body>
        {{global/defaultSiteNav}}
        <main class="container">
            <h1>Yada - {slug}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate deleniti eum neque libero fugit fugiat quam illum non in? Asperiores, facilis praesentium. Iure maiores nisi nulla, sapiente adipisci facilis quisquam.</p>
        </main>
        {{global/defaultSiteFooter}}
        <a href="{baseURL}">fusion</a>
    </body>
</html>
