@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --selected-nav-item: rgb(255, 255, 255, .09);
    --hero-background-gradient: radial-gradient(circle at center, yellow, orange, white);
    --hero-lighter-background-gradient: radial-gradient(circle at center, yellow 50%, orange, white);
    --white: white;
    letter-spacing: 1px;
}

html {
    scroll-padding-top: 6em;
}

body {
    padding-top: 0;
}

mark {
    padding: 0 2ch 0 2ch;
}

pre {
    white-space: pre-wrap;
}

/* site menu */

.topnav {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    background: #11191f;
    border-bottom: 1px solid rgba(187, 198, 206, 0.2);
}

/* site footer */

.site-footer {
    border-top: 1px solid rgba(187, 198, 206, 0.2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: 200;
    font-size: .8rem;
    color: var(--color);
}

.site-footer-column-heading {
    display: inline-block;
    border-bottom: 1px dotted #ffffff;
    font-weight: 500;
    margin-bottom: .25rem;
}

.site-footer-column-item {
    color: var(--color);
}

.site-footer-column-item a {
    color: var(--color);
    max-width: fit-content;
}

@media (max-width: 768px) {
    .site-footer {
        display: block;
        text-align: center;
    }

    .site-footer-column {
        margin-bottom: 1rem;
    }
}

/* docpage */

.docpage {
    padding-top: 4rem;
}

/* docpage */

.docpage {
    padding-top: 4rem;
}

/* remove detail's widget */
.docpage aside .version {
    font-size: calc(1rem - 4px);
    margin-bottom: 1rem;
    color: var(--muted-color);
}

.docpage details summary::after {
    display: none;
}

.docpage aside nav {
    border-bottom: none;
    padding-bottom: var(--block-spacing-vertical);
}

.docpage details {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: var(--spacing);
}

.docpage summary {
    text-transform: uppercase;
    padding-bottom: .5rem;
    font-size: calc(1rem - 2px);
}

.docpage details li a {
    font-size: 1rem;
}

.docpage details ul {
    padding-left: .5rem;
}

.docpage dtails ul,
.docpage details li {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
}

.docpage details[open] summary {
    margin-bottom: 0;
}

.docpage .selected-nav-item {
    background-color: var(--selected-nav-item);
}

.docpage aside nav [aria-current]:not([aria-current="false"]) {
    color: var(--primary-hover);
}

.docpage footer {
    padding-top: var(--block-spacing-vertical);
}

@media (min-width: 992px) {
    .docpage aside nav {
        position: fixed;
        width: 200px;
        max-height: calc(100vh - 240px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .docpage summary {
        font-size: 80%;
    }

    .docpage details li a {
        font-size: 16px;
    }

    .docpage main {
        display: grid;
        grid-column-gap: calc(var(--block-spacing-horizontal) * 5);
        grid-template-columns: 200px auto;
    }
}

/* navbar */

#navbar-sol {
    width: 30px;
    height: 30px;
}

#navbar-github {
    width: var(--font-size);
    height: var(--font-size);
    color: #fff;
}

nav a {
    font-size: var(--font-size);
}

@media (min-width: 576px) {
    #navbar-sol {
        width: 38px;
        height: 38px;
    }
}

/* homepage */

.homepage main {
    padding: 0;
}

.homepage article {
    margin-block: 0;
}

.homepage :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 500;
}

.homepage :is(h2, h3) {
    margin-bottom: 0;
}

.homepage h2 {
    font-size: 3em;
}

.homepage h3 {
    font-size: 2.5rem;
}

/* hero */

.hero {
    text-align: center;
    background: var(--hero-background-gradient);
    letter-spacing: 2px;
    padding-block: 8rem 4rem;
    transition: background 350ms ease-in-out transform;
}

.hero:hover {
    background: var(--hero-lighter-background-gradient);
}

.hero hgroup {
    margin: 0;
}

.hero hgroup h1 {
    margin: 1rem auto;
    font-size: 3.7rem;
    line-height: 1em;
    font-weight: 500;
    color: #000;
}

.hero hgroup p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
    margin-block: 1rem;
    margin-inline: auto;
    max-width: 75%;
    color: #000;
}

.hero-familiar-technologies {
    margin-block: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hero-familiar-technologies>code {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    letter-spacing: 0;
    background-color: transparent;
    line-height: 1em;
}

.hero .button-group {
    margin-block: 0 1rem;
}

.hero-button {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 50px;
}

.hero-version {
    padding: .25rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: darkorange;
    color: white;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 0px transparent;
}

.hero-version:hover {
    background-color: orange;
    border-color: black;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
}

.hero-get-started {
    background-color: hsl(195, 85%, 41%);
    color: hsl(33 100% 80%);
    border: 1px solid hsl(195, 85%, 41%);
    ;
    box-shadow: 0px 0px 0px transparent;
}

.hero-get-started:hover {
    background-color: hsl(195, 85%, 45%);
    border-color: black;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
}

.hero-install-now {
    background-color: #05b746;
    color: #000;
    border: 1px solid #05b746;
    box-shadow: 0px 0px 0px transparent;
}

.hero-install-now:hover {
    background-color: #05c746;
    border-color: black;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
}

@media (min-width: 576px) {
    .hero h1 {
        --font-size: 2.2rem;
        --font-weight: 700;
    }
}

@media (min-width: 768px) {
    .hero h1 {
        --font-size: 2.5rem;
        --font-weight: 700;
    }
}

@media (min-width: 992px) {
    .hero h1 {
        --font-size: 2.7rem;
        --font-weight: 700;
    }
}

@media (min-width: 1200px) {
    .hero h1 {
        --font-size: 3rem;
        --font-weight: 700;
    }
}

.why-fusion,
.features,
.examples,
.show-appreciation {
    margin-block: 3rem;
}

.why-fusion header h2,
.features header h2,
.examples header h2,
.show-appreciation header h2 {
    text-align: center;
    padding-block: 2rem;
    line-height: initial;
}

.examples h3 {
    text-align: center;
}

.examples pre code {
    font-size: 1rem;
}

.examples h3 {
    color: var(--primary);
}

.examples h4 {
    font-size: 2rem;
    text-align: center;
}

.why-fusion article {
    background-color: hsl(0 0% 25%);
    margin-bottom: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #999;
    box-shadow: 5px 5px 10px #999;
}

.features article {
    color: #000;
    border: 1px solid #999;
    box-shadow: 5px 5px 10px #999;
    margin-bottom: 1rem;
    padding-block: 1rem;
}

.features article ul {
    margin: 0;
    padding-block: 2rem;
    /* background-color: hsl(0 0% 25%); */
}

.examples h3 {
    font-size: 2.5rem;
}

.why-fusion hgroup h3 {
    color: var(--primary);
    padding-bottom: 1rem;
    text-align: center;
}

.why-fusion p {
    color: white;
    letter-spacing: 1px;
}

.features li {
    list-style: none;
    display: block;
    line-height: 1;
    text-align: center;
    font-size: 1.3rem;
}

.features li::before {
    content: "✅";
    line-height: 1.3rem;
    padding-right: .5rem;
    font-size: .7rem;
    vertical-align: middle;
}

.features li span {
    font-size: .7rem;
    color: black;
    background-color: #ffe484;
}

iframe[title="GitHub"] {
    display: block;
    margin-bottom: 2rem;
    overflow: hidden;
    border: 0;
}

p.info,
p.info a,
p.warn,
p.ver {
    font-style: italic;
}

p.warn {
    color: yellow;
}

p.warn code {
    all: unset;
}

p.info::before {
    content: "i";
    background-color: var(--primary);
    font-style: italic;
    font-weight: bold;
    padding: 0rem .25rem;
    border: solid 1px blue;
    border-radius: 20%;
    margin-right: .5rem;
}

p.ver::before {
    content: "ver";
    background-color: var(--primary);
    font-style: italic;
    font-weight: bold;
    padding: 0rem .25rem;
    border: solid 1px green;
    border-radius: 20%;
    margin-right: .5rem;
}

p.warn::before {
    content: "🔔";
    background-color: rgb(255 255 0 / .2);
    font-style: italic;
    padding: 0rem .25rem;
    border: solid 1px yellow;
    border-radius: 4px;
    margin-right: .5rem;
}

/* Youtube video sources */

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* posts */

.posts article ul {
    padding-left: 0;
}

.posts {
    padding-top: 0;
}

.posts article {
    padding-top: 1rem;
}

/* blog */

.blog {
    padding-top: 0;
}

.blog article {
    padding-top: 1rem;
}

/* article header example */

article header p.example::before {
    content: "Example: ";
    font-weight: 800;
}

/* utility classes */

.centered {
    width: 100%;
    margin: 0 auto 0 auto;
}

.lighter-text {
    color: var(--secondary);
}

.button-group {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
}
